@use "/src/assets/Styles/variables" as *;

.card {
  height: 500px;
  width: 300px;
  overflow: hidden;
  border: 2px dashed black;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

img {
  height: 300px;
}
